<h1 id="tableLabel">Search Flights</h1>

<p>Please select a rule to search.</p>





<form [formGroup]="oppoSuitsForm" (ngSubmit)="Search()">

  <select formControlName="name" (change)="changeSuit($event)">
    <option *ngFor="let x of rules" value="{{x.id}}">{{x.name}}</option>
  </select>

  

  <button style="margin-left:20px" class="btn btn-primary">Search</button>
</form>

<div *ngIf="flights">
  <div *ngFor="let flight of flights">
    <div style="margin-top:30px; color:darkblue; font-weight:bold">{{ flight.flightNo }}</div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="flight.segments">
      <thead>
        <tr>
          <th>Departure Date</th>
          <th>Arrival Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let segment of flight.segments">
          <td>{{ segment.departureDate }}</td>
          <td>{{ segment.arrivalDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

